Src/ThirdParty/*
Build/*
!Build/Bin/
Build/Bin/*
Build/Bin/**/*
!Build/Bin/**/
!Build/Bin/**/*.fs
!Build/Bin/**/*.vs
!Build/Bin/**/*.frag
!Build/Bin/**/*.vert
!Build/Bin/**/*.glsl
!Build/Bin/**/*.hlsl
!Build/Bin/Data/
Build/Bin/Data/*
!Build/Bin/Data/skybox/
Build/Bin/Data/skybox/*
!Build/Bin/Data/skybox/*.jpg
!Build/Bin/Data/skybox/*.png
!Build/Bin/Data/skyboxes/
Build/Bin/Data/skyboxes/*
!Build/Bin/Data/skyboxes/*/
Build/Bin/Data/skyboxes/*/*
!Build/Bin/Data/skyboxes/**/*.jpg
!Build/Bin/Data/skyboxes/**/*.png
.idea/*
/cmake-build-codex
.aicodeprep-gui
